body {
    overflow: hidden;
    margin: 0;
    background-color: #0b0d1d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    text-align: center;
    font-weight: bold
}
